<div class="container">
<h1>Card payment</h1>


<form #cardDetails ="ngForm" (ngSubmit)="onSubmit()" novalidate>
  <!-- {{ cardDetails.value | json}} -->
  <div class="form-group">
  <span class="scheme">{{ccNumber.resolvedScheme$ | async}}</span>
  <br>
  
  <input class="form-control" type="tel" ccNumber #ccNumber="ccNumber" placeholder="Card Number" name="card Number" [(ngModel)]="payModel.number">
    <br>
    <input class="form-control" id="cc-exp-date" type="tel" autocomplete="cc-exp" ccExp placeholder="00/0000" name="Exp Date" [(ngModel)]="payModel.date">
    <br>
    <input class="form-control" id="cc-cvc" type="tel" autocomplete="off" ccCVC placeholder="CVV" name="CVV Number" [(ngModel)]="payModel.cvv" >
    <br>
    <button [disabled]="cardDetails.form.invalid" type="submit" class="btn btn-primary">Submit</button>
</div>
  </form>
<!-- {{payModel | json}} -->



<table class="table table-stripped">
    <tr>
      <!-- <th>Id</th> -->
      <th>Card Type</th>
      <th>Card Number</th>
      <th>Expiry Date</th>
      <th>CVV</th>
    </tr>

    
    <tbody >
      <tr ng-repeat="pays in payModel">
       
        <td>{{ccNumber.resolvedScheme$ | async}}</td> 
        <td>{{payModel.number}}</td>
        <td>{{payModel.date}}</td>
        <td>{{payModel.cvv}}</td>
        <td><button type="button" ng-click="getDetails(x)">delete</button></td>
  
      </tr>
    </tbody>
  </table>


</div>
